<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>
    <div class="container mt-5">
    <h1>Iniciar Sesión</h1>

<form action="/auth/login" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label"><b>Email de Usuario</b></label>
        <input type="email" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"><b>Contraseña</b></label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary"><b>Iniciar Sesión</b></button>
    </div>
</form>
<script src="auth.js"></script>
</div> </body>
</html>